* {
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background:white;
    width: 100px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px #8c8c8c;
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s;
    margin-bottom: 70px;
    margin-top: 15px;
}

.img {
    width: 50px;
    height: auto;
    position: relative;
    top: 14px;
    left: 15px;
    margin-right: 30px;
}

.nav-item {
    position: relative;
    margin-left: 10px;
}

nav:hover {
    width: 250px;
    transition: all 0.5s ease;
}

.logo img {
    border-radius: 50%;
    width: 60px;
}

.logo span,
a span {
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

span:hover {
    color: rgb(83, 57, 198);
}

a {
    position: relative;
    color: black;
    font-size: 14px;
    display: inline-flex;
    padding: 10px;
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 100vh;
    margin: 0;
    background-image: url("img/20.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: flex-start; 
    margin-top: 20px;
    margin-bottom: 120px; 
    margin-left: 0px; 
    margin-right:70px;
}


.button {
    display: inline-block;
    padding: 0.25em 3em; /* Ajustez la valeur de padding pour définir la taille des boutons */
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 4px;
    color: white; /* Changez la couleur du texte en blanc */
    background: linear-gradient(to bottom, #f3e5f5, #9c27b0); /* Utilisez votre dégradé personnalisé */
    max-width: 200px;
    width: 100%; /* Ajustez la largeur à 100% pour que les boutons soient de la même taille */
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    white-space: nowrap; /* Ajoutez cette ligne pour empêcher la séparation de "Sign" et "Up" sur deux lignes */
}

.button:first-child {
    margin-right: 10px; /* Ajoutez une marge à droite pour espacer les boutons si nécessaire */
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: black; /* Changez la couleur du texte en noir au survol */
    border: 2px solid yellow; /* Ajoutez une bordure de couleur jaune au survol */
    transition: background-color 0.3s ease;
}
